@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: inherit;
}

html,
body {
	height: 100%;
}

body {
	font-family: "inter", Helvetica, Arial, Verdana, sans-serif;
}

/* ul li {
	list-style: none;
}

a {
	text-decoration: none;
	color: rgb(123, 123, 123);
} */

:root {
	--clr-primary: rgb(76 69 68);
}

.container {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	position: relative;
}

h1 {
	color: var(--clr-primary);
}

.clock {
	height: 350px;
	width: 350px;
	border-radius: 50%;
	border: 8px solid var(--clr-primary);
	/* background: rgb(235, 235, 235); */
	background-image: url("./clock.jpg");
	background-size: cover;
	position: relative;
}

.clock::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 20px;
	width: 20px;
	background: var(--clr-primary);
	z-index: 999;
	border-radius: 50%;
}

.hand {
	border-radius: 5px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%);
	transform-origin: 0% 0%;
	background: rgb(76 69 68);
	rotate: -90deg;
}

.hour {
	width: 31%;
	height: 5px;
}

.min {
	width: 39%;
	height: 4px;
}

.sec {
	width: 41%;
	height: 2px;
}
